<% users.each do |user| %>
    <div class="recommend-users-small-box">
        <%= link_to user_path(user.profile_name) do %>
        <p style="text-align: center; padding-top: 20px;"><%= attachment_image_tag user, :profile_image, :fill, 80, 80, class: "profile-image-style", format: 'jpeg', fallback: "no_image.jpg", size: '80x80' %></p>
        <% end %>

        <div style="text-align: center;">
            <%= link_to user_path(user.profile_name) do %>
            <span style="font-weight: bold; font-size: 16px;"><%= user.profile_name %></span>
            <% end %>
        </div>

        <div style="text-align: center; padding-top: 5px;"></div>
        <%= link_to user_path(user.profile_name) do %>
        <button>フォローする</button>
        <% end %>
    </div>
<% end %>

<div style="text-align: center;">
    <%= paginate @users, class: "paginate" %>
</div>