<div class="container">
    <div class="row">
        <div class="col-md-12 index-users-main-box">
            <p style="font-weight: bold; padding-top: 10px;">フォロワー</p>
            <div class="index-users-big-box">
                <% @followers.each do |follower| %>
                    <div class="index-users-small-box">
                        <div class="index-users-item">
                            <%= link_to user_path(follower.profile_name) do %>
                                <%= attachment_image_tag follower, :profile_image, :fill, 40, 40, format: 'jpeg', size: '40x40', fallback: 'no_image.jpg', class: "profile-image-style" %>
                            <% end %>
                        </div>
                        <div class="index-users-item">
                            <%= link_to user_path(follower.profile_name) do %>
                                <%= follower.profile_name %>
                            <% end %>
                        </div>
                        <div class="index-users-item">
                            <%= link_to user_path(follower.profile_name) do %>
                                <%= "#{follower.name}" %>
                            <% end %>
                        </div>

                        <div class="index-users-item all-users-follow-button">
                            <% if current_user == follower %>
                            <% else %>
                                <% if follower.followed_by?(current_user) %>
                                        <button><%= link_to "フォローする", user_path(follower.profile_name) %></button>
                                <% else %>
                                        <button>フォロー済み</button>
                                <% end %>
                            <% end %>
                        </div>
                　　</div>
                    <div class="index-users-border-line"></div>
                <% end %>
            </div>
        </div>
    </div>
</div>