
<% post_images.each do |post_image| %>
    <div class="post-images-index-box">
        <% if user_signed_in? %>

            <div class="post-image-user">
                <%= link_to user_path(post_image.user.profile_name) do %>
                    <span><%= attachment_image_tag post_image.user, :profile_image, :fill, 32, 32, format: 'jpeg', fallback: 'no_image.jpg', class: "profile-image-style" %></span>
                <% end %>

                <%= link_to user_path(post_image.user.profile_name) do %>
                    <span><%= post_image.user.profile_name %></span>
                <% end %>
            </div>
            <%= link_to post_image_path(post_image.id) do %>
                <p><%= attachment_image_tag post_image, :post_image, :fill, 600, 600, format: 'jpeg' %></p>
            <% end %>

            <div id="favorite-button-<%= post_image.id %>">
                <%= render 'favorites/favorite', post_image: post_image %>
            </div>

            <div class="caption-box">
                <%= render_with_hashtags(post_image.caption) %>
            </div>
        <% else %>
            <%= link_to user_path(post_image.user.profile_name) do %>
                <p><%= post_image.user.profile_name %></p>
            <% end %>

            <%= link_to post_image_path(post_image.id) do %>
                <p><%= attachment_image_tag post_image, :post_image, :fill, 480, 270, format: 'jpeg' %></p>
            <% end %>
            <span><%= post_image.favorites_count %></span>
            <%= post_image.caption %>
        <% end %>
    </div>
<% end %>

<div style="text-align: center;">
    <%= paginate post_images, class: "paginate" %>
</div>