<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="user-post-image-box">
                <p><span class="hashtag-name">#<%= @tag.hashname %></span></p>
                <p><span class="hashtag-count">投稿<%= @tag.post_images.count %>件</span></p>
                <% @post_image.each do |post_image| %>
                    <div class="each-post-image-box">
                        <%= link_to post_image_path(post_image.id) do %>
                            <%= attachment_image_tag post_image, :post_image, :fill, 293, 293, format: 'jpeg', class: "each-post-image-box", fallback: 'no_image.jpg', size: "293x293" %>
                        <% end %>
                    </div>
                <% end %>
                <p><%= paginate @post_image, class: "paginate" %></p>
            </div>
        </div>
    </div>
</div>